[submodule "deps/GSL"]
	path = deps/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "deps/udis86"]
	path = deps/udis86
	url = https://github.com/vmt/udis86.git
[submodule "deps/minhook"]
	path = deps/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "deps/asmjit"]
	path = deps/asmjit
	url = https://github.com/asmjit/asmjit.git
[submodule "deps/dearimgui"]
	path = deps/dearimgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
[submodule "deps/ifs_layeredfs"]
	path = deps/ifs_layeredfs
	url = https://github.com/GEEKiDoS/ifs_layeredfs.git
[submodule "deps/zstd"]
	path = deps/zstd
	url = https://github.com/facebook/zstd.git
