@font-face {
  font-family: 'Noble Scarlet';
  src: url('./msyhsb.woff2') format('woff2');
}

@font-face {
  font-family: 'SGM';
  src: url('./sgm.woff2') format('woff2');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  color: #fff;
  user-select: none;
  -webkit-user-drag: none;
  color-scheme: dark;
  font-family:
    SGM,
    'Noble Scarlet',
    'Segoe UI',
    sans-serif;
}

option {
  font-family:
    'Noble Scarlet',
    'Segoe UI',
    sans-serif;
}

body {
  background: #212121;
  line-height: 150%;
  font-size: 12px;
  text-rendering: optimizeSpeed;
  overflow: hidden;
}