@import './base.css';

a,
.link {
  text-decoration: none;
  color: rgb(64, 218, 252);
  transition: 0.4s;
  padding: 3px;
  cursor: pointer;
}

.page {
  width: 100vw;
  margin-top: 38px;
  height: calc(100vh - 38px);
  overflow-y: scroll;
  line-height: 250%;
  font-size: 90%;
  background-color: rgba(0, 0, 0, 0.8);
}

.gray {
  color: #666;
}

svg.svg-inline--fa {
  font-size: 90%;
  margin-right: 8px;
}

.path {
  user-select: text;
  cursor: pointer;
}

.container {
  margin: auto;
  margin-top: 32px;
  width: 831px;
}

hr {
  border-width: 0;
  height: 1px;
  background-color: #808080;
}

.container>* {
  margin-bottom: 16px;
}

.container>.item {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 16px,
      rgba(255, 255, 255, 0.1) 48px,
      rgba(50, 50, 50, 0.5) 50px,
      rgba(70, 70, 70, 0.1) 100%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.8em 2em;
  border-radius: 5px;
}

footer {
  margin-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  line-height: 150%;
}

.text-input {
  display: block;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(20, 20, 20, 0.3) 75%,
      rgba(51, 51, 51, 0.3) 100%);

  padding: 0.5em;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  outline: none;

}

.text-input:focus {
  border-bottom: 1px solid white;
}

.btn {
  appearance: none;
  outline: none;
  border: none;
  display: block;
  border-radius: 5px;
  background-color: transparent;
  padding: 0.5em 1em;
  position: relative;
  transition: 0.2s ease;
  cursor: pointer;
}

.btn.primary {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(20, 20, 20, 0.5) 55%, rgba(80, 80, 80, 0.5) 100%);
  background-color: #40B681;
  padding: 1em 2em;
}

.btn:hover {
  filter: brightness(1.5);
  text-shadow:
    0px 0px 2px white,
    0px 0px 5px white,
    0px 0px 10px white,
    0px 0px 20px white;
}

.btn.link:hover {
  color: white;
  text-shadow:
    0px 0px 2px rgb(209, 246, 255),
    0px 0px 5px rgb(165, 239, 255),
    0px 0px 10px rgb(94, 222, 250),
    0px 0px 20px rgb(57, 215, 251),
    0px 0px 40px rgb(24, 213, 255);
}

.btn.primary:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.2),
    0 8px 8px rgba(0, 0, 0, 0.2);
}

.btn:active {
  filter: brightness(0.8);
  transform: scale(0.99) translateY(2px);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.justify-start>* {
  margin-right: 0.5em;
}

.justify-start {
  justify-content: start;
}

.align-center {
  align-items: center;
}

input[type="checkbox"] {
  display: inline-block;
}

.lh-100 {
  line-height: 100%;
}

.py-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}